// Pokemon Types
$normal: #ababab;
$fighting: #c02f27;
$flying: #8d91ec;
$poison: #9c3998;
$ground: #deb168;
$rock: #b49d40;
$bug: #91ae29;
$ghost: #6c5293;
$steel: #6a8b97;
$fire: #ef7e33;
$water: #668fef;
$grass: #26b53b;
$electric: #ba9248;
$psychic: #d6266b;
$ice: #9bd8d5;
$dragon: #6634dc;

.normal-bg {
  background-color: $normal;
}

.fighting-bg {
  background-color: $fighting;
}

.flying-bg {
  background-color: $flying;
}

.poison-bg {
  background-color: $poison;
}

.ground-bg {
  background-color: $ground;
}

.rock-bg {
  background-color: $rock;
}

.bug-bg {
  background-color: $bug;
}

.ghost-bg {
  background-color: $ghost;
}

.steel-bg {
  background-color: $steel;
}

.fire-bg {
  background-color: $fire;
}

.water-bg {
  background-color: $water;
}

.grass-bg {
  background-color: $grass;
}

.electric-bg {
  background-color: $electric;
}

.psychic-bg {
  background-color: $psychic;
}

.ice-bg {
  background-color: $ice;
}

.dragon-bg {
  background-color: $dragon;
}
