$color: #f95a2c;

.wrapper {
  width: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.spinner {
  width: 4rem;
  height: 4rem;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
  }

  &::before {
    background: $color;
    animation: pulse 2s ease-in-out infinite;
  }

  &::after {
    background: $color;
    animation: pulse 2s 1s ease-in-out infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
